# Ignore test.py
test.py

# Ignore data folder
/pytorch/data

# Ignore model folder
/pytorch/model

# Ignore runs folder
/pytorch/runs

# Ignore config-colab.yml
config-colab.yaml

# Ignore vscode folder
.vscode